@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

form {
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #63636333 0px 2px 8px 0px;
    padding-top: 20px;
}

/* User Balance */
form .box-transaction {
    width: 100%;
    padding: 25px 25px;
    /* background-color: rgba(128, 128, 128, 0.568); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form .box-transaction div {
    font-weight: bold;
    border: 1px solid #0000001d;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    gap: 10px;
}
form .box-transaction div .flag{
    border: none;
    background-color: #80808012;
    padding: 15px;
    font-size: 15px;
    font-weight: normal;
}

form .box-transaction div span {
    font-weight: 500;
    font-size: 18px;
}


form .form-content-container {
    background-color: #afa7a718;
    padding: 10px;
    border-radius: 25px 25px 0 0;
    width: 100%;
}

form .form-content {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form .form-content .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
form .form-content .col label{
    font-size: 15px;
}

form .form-content .col input {
    padding: 15px;
    border: 1px solid #8080803e;
    border-radius: 5px;
}
form .form-content .col input:focus{
    outline: none;
}

form .form-content .col-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

form .form-content .col-btn button {
    padding: 15px;
    background-color: #008000;
    border: none;
    border-radius: 5px;
    color: #ffffff;

}
/* Option switch */
.container {
    width: 360px;
    border-radius: 10px;

}

/* Hide radios */
.container input {
    display: none;
}

/* Toggle wrapper */
.toggle {
    position: relative;
    display: flex;
    background: #dddddd85;
    height: 40px;
    align-items: center;
    border-radius: 5px;
}

/* Sliding indicator */
.indicator {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #027002;
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: transform 0.35s ease;
}

/* Move indicator */
#expense:checked~.toggle .indicator {
    transform: translateX(100%);
}

/* Labels */
.toggle label {
    flex: 1;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    /* font-weight: bold; */
    z-index: 1;
}

#income:checked~.toggle label[for="income"],
#expense:checked~.toggle label[for="expense"] {
    color: #ffffffe2;
}

#expense:checked~.toggle .indicator{
    transform: translateX(100%);
    background-color: #aa0000e0;
}


/* History Log */
.table-container {
    width: 50%;
    max-height: 70vh;
    overflow-y: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
}


.table-container table {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    overflow-y: scroll;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 15px;
}
.table-container th, td {
    border-bottom: 1px solid #ddd;
}


.table-container table,
.table-container thead,
.table-container tbody,
.table-container td,
.table-container th {
    /* border: 1px solid #80808030; */
    padding: 10px;
    text-align: center;
    line-height: 2;
}

.table-container .empty-row{
    height: 60vh;
}
.table-container .empty-row td {
    border-bottom: none;
    color: #888;
    font-size: 16px;
    padding: 40px 0;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

/* empty content */
.table-container .empty-row ion-icon {
    font-size: 32px;
    margin-bottom: 8px;
    color: #bbb;
}
